@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&family=Montserrat:wght@700&family=Nunito+Sans:opsz,wght@6..12,200&display=swap');


html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter",sans-serif;
  background-color: "if2026";
}